<!DOCTYPE html>
<html>
<head>
  <title>PitchUpp | Welcome</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!--Navigation bar partial -->
<%= render 'layouts/navbar' %>

<%= yield %>

<!--Footer partial-->
<%= render 'layouts/footer' %>


<script src="http://materializecss.com/bin/materialize.js"></script>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

</body>
</html>
